/* Global CSS */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;

}

html {
	height: 100%;
	width: 100%;


}

body {
	background-image: url("/IMG/Background.png");
	background-repeat: no-repeat;
	/* background-size: 100% 100%; */
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	font-family: raleway_c, sans-serif;

}

svg {
	color: #ffffff;
	margin-right: 10px;
	transition: all 0.5s ease-in-out;
}



a {
	text-decoration: none;
	color: white;
	text-align: center;
	outline: none;

}

h2,
h3,
h4 {
	color: white;
}

h3 {
	font-size: 13px;

}

h4 {
	font-size: 12px;

}

span {
	font-size: 14px;
}

@font-face {
	font-family: raleway_c;
	src: url(../Fonts/raleway-v22-cyrillic-300.woff2);
	font-weight: 300;
}

@font-face {
	font-family: raleway_c;
	src: url(../Fonts/raleway-v22-cyrillic-100.woff2);
	font-weight: 100;
}


.bounce.countainer {
	position: absolute;
	left: 25px;
	bottom: 25px;
	border-radius: 50%;
	animation: floatReg 10s ease-in-out infinite;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-play-state: running;
	animation-name: floatReg;
	animation-timeline: auto;
	animation-range-start: normal;
	animation-range-end: normal;
	max-width: 100%;
}

@keyframes floatReg {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-25px);
	}

	100% {
		transform: translateY(0);
	}
}


/* CSS */

.inner {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 6%;


}

.inner-items {
	width: 700px;
	height: 700px;
	align-items: center;
	justify-content: center;
	border-radius: 3%;
	display: flex;
	/* resize: none; */




}

.inner_items-left {
	background-image: url("/IMG/IL_BG.jpg");
	width: 300px;
	height: 700px;
	border-radius: 3% 0 0 3%;
	position: relative;
	transform: scaleX(1.01);
	display: flex;

}

.items-right.first {
	width: 400px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

.items-right.second {
	width: 400px;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.inner_items-right {
	width: 400px;
	height: 700px;
	background-color: #121a29;
	border-radius: 0 3% 3% 0;
}

.items-right.third {
	height: 100px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.items-right_link,
.a-wrapper {
	width: 340px;
	height: 50px;
	background-color: #192232;
	border-radius: 25px;
	justify-content: center;
	align-items: center;
	display: flex;

}


.a-wrapper {
	width: 344px;
	height: 54px;
	background: linear-gradient(-45deg, #ff00bb, #fb01fb, #7700ff, #00d9ff);
	background-size: 400% 400%;
	animation: gradient 9s ease infinite;
	transition: all 0.5s ease-in-out;
}

.img {
	background: linear-gradient(-45deg, #ff00bb, #fb01fb, #7700ff, #00d9ff);
	background-size: 400% 400%;
	animation: gradient 9s ease infinite;
	transition: all 0.5s ease-in-out;
	width: 245px;
	height: 245px;
	border-radius: 50%;
	position: absolute;
	padding: 5px;
	left: 3px;
	bottom: 13px;
	border-radius: 50%;
}

.a-wrapper:hover {
	transform: scale(1.04);
	transition: all 0.5s ease-in-out;
	box-shadow: 0 5px 6px 0 #ff00bb2c, 0 0 25px 0 #3a7cff43;
}

svg:hover {
	transform: scale(1.1);
	transition: all 0.5s ease-in-out;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

/* Adaptive */

@media (min-width: 0px) and (max-width: 700px) {

	.container {
		overflow: hidden;
	}

	h2,
	h3,
	h4 {
		max-width: 100%;
		margin: 1%;
		white-space: nowrap;
	}

	.inner-items {
		width: 100%;
		height: 100%;
		transition: 2s;
		flex-wrap: wrap;
		flex-direction: column-reverse;
		/* margin-top: 10%; */

	}

	.inner_items-left {
		background-image: url(/IMG/IL_BG_Adaptive.jpg);
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		border-radius: 0 0 3% 3%;
		background-position-x: center;
		background-attachment: fixed;
		width: 100%;
		transform: scaleY(1.01);
		align-content: center;
		flex-wrap: wrap;
		flex-direction: column;
	}

	.bounce.countainer {
		left: none;
		bottom: none;
		position: static;

	}

	.img {
		position: static;
		margin-top: 30%;
		transition: all 2s;
		overflow: hidden;
		max-width: 100%;

	}


	.inner_items-right {
		border-radius: 3% 3% 0 0;
		width: 100%;
		transition: 2s;
		background-size: auto;
	}

	.items-right.first {
		width: 100%;
		transition: 2s;
	}

	.items-right.second {
		width: 100%;
		transition: 2s;
	}

	@media (min-width: 0px) and (max-width: 255px) {
		.bounce.countainer {
			display: none;
			transition: all 1s;
		}
	}

	/* @media (min-width: 0px) and (max-width: 368px) {

		.inner-items {
			width: 100%;
			height: 100%;
			flex-direction: column-reverse;

		}

		.inner_items-right {
			border-radius: 3%;
			width: 100%;
			transition: 2s;
			background-size: auto;
		}

		.items-right.first {
			width: 100%;
			transition: 2s;
		}

		.items-right.second {
			width: 100%;
			transition: 2s;
		}

	} */